.idea/
example.inform/Build/
example.inform/Index/
example.inform/uuid.txt
example.inform/manifest.plist
example.inform/Metadata.iFiction
example.inform/Release.blurb
example.inform/story.gblorb
example.inform/story.ulx
